@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Мобайл: до 1024px включно
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

// Десктоп: від 1025px і більше
@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}
