.header {
  padding: 1.75rem 0;

  @include desktop {
    padding: 5.5rem 0 3.5rem;
  }
}

.header-content {
  @include flex-between;
}

.logo img {
  width: 2.8125rem; // 45px

  @include desktop {
    width: 4rem; // 64px
  }
}
